* {
    font-family: "JetBrains Mono", monospace;
}

html {
    background-color: #1f1f1f;
    color: #d0d0d0;
}

a {
    color: #00bcd4;
    text-decoration: none;
}

a:hover {
    color: #33ddee;
    text-decoration: underline;
    text-shadow: 
        -1px -1px 5px rgba(0, 188, 212, 0.5),
        -1px 1px 5px rgba(0, 188, 212, 0.5),
        1px -1px 5px rgba(0, 188, 212, 0.5),
        1px 1px 5px rgba(0, 188, 212, 0.5);
}

body {
    margin: 0;
    padding: 5px 30px;
}

.activity-container {
    font-size: 20px;
}

.activity-emojis {
    display: inline-flex;
    width: fit-content;
}

.more-button {
    font-size: 18px;
    text-transform: uppercase;

    position: fixed;
    right: 30px;
    bottom: 20px;
}