* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
}

.design-item {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.design-item:hover {
    cursor: pointer;

    border: white 2px solid;
}

#item-one {
    background-color: #4F39F6;
}

#item-two {
    background-color: #101828;
}