* {
      font-family: "Luckiest Guy", cursive;
}

body {
      margin: 0;
      padding: 0;
      display: flex;
      height: 100vh;
}

.slide-show-container {
      flex-basis: 100%;
      overflow: hidden;
}

.slide-show-background {
      position: fixed;
      height: 100%;
      width: 100%;
      opacity: 0;
}

.background-one {
      background: url(../assets/danger-guy.jpg) left top / cover no-repeat;

      animation: showcase-entry 5s 1s forwards, showcase-exit 5s 7s forwards;
}

.background-two {
      background: url(../assets/retired-don-thinking.jpg) left top / cover no-repeat;

      animation: showcase-entry 5s 12s forwards, showcase-exit 5s 18s forwards;
}

.background-three {
      background: url(../assets/police-officer.jpg) left top / cover no-repeat;

      animation: showcase-entry 5s 23s forwards, showcase-exit 5s 29s forwards;
}

.background-four {
      background: url(../assets/black-guy-suburban.jpg) left top / cover no-repeat;

      animation: showcase-entry 5s 34s forwards, showcase-exit 5s 40s forwards;
}

.background-five {
      background: url(../assets/untouchable-rich-mobster.jpg) left top / cover no-repeat;

      animation: showcase-entry 5s 45s forwards;
}

.gaming-text {
      position: fixed;
      right: 80px;
      bottom: 60px;

      font-size: 48px;
      -webkit-text-stroke: black 4px;
      color: white;
}

@keyframes showcase-entry {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

@keyframes showcase-exit {
      from {
            opacity: 1;
      }

      to {
            opacity: 0;
      }
}

@media only screen and (max-width: 600px) {

      .slide-show-container {
            background-color: black;
      }

      .slide-show-background {
            background-size: 100vw;
            background-position: center;
      }

      .gaming-text {
            bottom: 30px;
            right: 40px;

            font-size: 20px;
            -webkit-text-stroke-width: 1px;
      }
}