:root {
    --animation-speed-multiplier: 1;
}

html {
    background-color: rgb(135, 202, 210);
    animation: 10s linear 11s 1 forwards colour-transition;
}

@keyframes colour-transition {
    33% {
        background-color: #89D2A9;
    }

    66% {
        background-color: #899AD2;
    }

    100% {
        background-color: #89D2A9;
    }
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    padding: 10px;
    color: black;
}

a:hover {
    background-color: white;
}

.welcome-heading {
    text-align: center;
}

.homer-gif {
    width: 50%;

    animation-duration: calc(7s * var(--animation-speed-multiplier));
    animation-name: fall-but-act-normal;
    animation-delay: calc(3s * var(--animation-speed-multiplier));
}

@keyframes fall-but-act-normal {
    0% {
        translate: 0 0;
        scale: 100% 1;
    }

    2% {
        translate: 0 30%;
        scale: 100% 1;
    }

    4% {
        translate: 0 25%;
        scale: 100% 1;
    }

    8% {
        translate: 0 30%;
        scale: 100% 1;
    }

    10% {
        translate: 0 29%;
        scale: 100% 1;
    }

    13% {
        translate: 0 30%;
        scale: 100% 1;
    }

    25% {
        translate: 0 30%;
        scale: 100% 1;
    }

    33% {
        translate: 0 17%;
        scale: 100% 1;
    }

    47% {
        translate: 0 17%;
        scale: 100% 1;
    }

    59% {
        translate: 0 7%;
        scale: 100% 1;
    }

    93% {
        translate: 0 7%;
        scale: 100% 1;
    }

    100% {
        translate: 0 0;
        scale: 100% 1;
    }
}

.welcome-container {
    position: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    animation-name: shrink-and-slide-up;
    animation-duration: calc(0.75s * var(--animation-speed-multiplier));
    animation-delay: calc(10s * var(--animation-speed-multiplier));
    animation-fill-mode: forwards;
}

@keyframes shrink-and-slide-up {
    0% {
        translate: 0 0;
        scale: 100% 1;
    }

    50% {
        translate: 0 0;
        scale: 100% 0.5;
    }

    100% {
        translate: 0 -100vh;
        scale: 100% 0.5;
    }
}

.stuff-container {
    width: 30vw;

    border: 10px black inset;

    opacity: 0;

    animation-name: fade-in;
    animation-delay: calc(11s * var(--animation-speed-multiplier));
    animation-duration: calc(4s * var(--animation-speed-multiplier));
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.stuff {
    font-weight: bold;
    font-size: 32px;
}

.stuff.odd {
    padding-left: 5vw;
}

.stuff.even {
    padding-right: 5vw;
    text-align: end;
}

.header {
    text-align: center;

    opacity: 0;

    animation-name: fade-in;
    animation-delay: calc(22s * var(--animation-speed-multiplier));
    animation-duration: calc(4s * var(--animation-speed-multiplier));
    animation-fill-mode: forwards;
}

.footer {
    text-align: center;
    width: 100%;
    opacity: 0;

    animation-name: fade-in;
    animation-delay: calc(22s * var(--animation-speed-multiplier));
    animation-duration: calc(4s * var(--animation-speed-multiplier));
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
    .homer-gif{
        width: 85%;
    }

    .stuff-container {
        width: 70vw;
    }
}