* {
    font-family: "Barriecito", monospace, system-ui;
}

html {
    background-color: #eee;
    color: #111;
}

.blog-text {
    text-align: center;

    top: 45vh;
    position: relative;
}

.small {
    font-size: 0.8em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.activity-emojis {
    display: inline-flex;
    width: 80px;
    text-align: start;
}