* {
    font-family: "Barriecito", monospace, system-ui;
}

html {
    background-color: #eee;
    color: #111;
}

.vocals-text, .gaming-text, .blog-text, .design-text {
    text-align: center;

    top: 45vh;
    position: relative;
}

.small {
    font-size: 0.8em;
}

.bold {
    font-weight: bold;
}

.streak-emojis {
    display: inline-flex;
    width: 80px;
    text-align: start;
}